<%= form_for(@global_param) do |f| %>
  <%= render "shared/error_messages", :target => @global_param %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  
  <div class="field">
    <%= f.label :p_type, "Parameter Type" %><br />
    <%= f.radio_button :p_type, Parameter::TYPES[:parameter] %> Standard<br />
    <%= f.radio_button :p_type, Parameter::TYPES[:header] %> Header<br />
    <%= f.radio_button :p_type, Parameter::TYPES[:url] %> URL
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>