<%= form_for(@auth) do |f| %>
  <%= render "shared/error_messages", :target => @auth %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :auth_method %><br />
    <%= f.select("auth_method", Authentication::METHODS, { :disabled => ['oauth'] }) %>
  </div>
  
  <div id="authentication-method-select">
    <div id="authentication-basic" style="<%= @auth.new_record? || !@auth.username.blank? ? '' : 'display:none;' %>">
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.text_field :password %>
      </div>
    </div>
  
    <div id="authentication-oauth" style="<%= @auth.oauth_token.blank? ? 'display:none;' : '' %>">
      <div class="field">
        <%= f.label :oauth_token %><br />
        <%= f.text_field :oauth_token %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <%= f.check_box :auth_default %>
    <%= f.label 'Default?' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>