<div class="page_container">

  <h2>Authentications</h2>

  <%= link_to "Back to Setup", setup_path %>
  |
  <%= link_to "New Authentication", new_authentication_path %>

  <ul>
  <% @auths.each do |auth| %>
    <li>
      <%= auth.name %>,
      method: <%= auth.auth_method %>,
      <% if auth.auth_method == Authentication::METHODS[:basic] %>
        u: <%= auth.username %>, p: <%= auth.password %>
      <% else %>
        token: <%= auth.oauth_token %>
      <% end %>
      <br />
      <%= link_to "Edit", edit_authentication_path(auth) unless auth.auth_method == 'oauth' %>
      <%= link_to "Delete", authentication_path(auth), :method => :delete, :confirm => "Are you sure you want to delete '#{auth.name}'?" %>
      <strong><%= "[DEFAULT]" if auth.auth_default? %></strong>
    </li>
  <% end %>
  </ul>

</div>