<div class="page_container">

  <h1>Groups</h1>
  
  <%= link_to "Back to Setup", setup_path %>
  |
  <%= link_to "New Group", new_group_path %>


  <% @groups.each do |group| %>
    <div class="grouping">

      <%= group.name %>
      <%= link_to "Edit", edit_group_path(group) %>
      <%= link_to "Delete", group_path(group), :method => :delete, :confirm => "Are you sure you want to delete the group '#{group.name}'?" %>
      
      <ul>
        <strong>Endpoints</strong> <%= link_to "New", new_group_endpoint_path(group) %>
        <% group.endpoints.each do |endpoint | %>
          <li class="grouping-inner">
            <%= endpoint.name %>
            <%= link_to "Edit", edit_endpoint_path(endpoint) %>
            <%= link_to "Delete", endpoint_path(endpoint), :method => :delete, :confirm => "Are you sure you want to delete the endpoint '#{endpoint.name}'?" %>
            <%= link_to "Test", endpoint_path(endpoint) %>
          </li>

          <ul>
            <strong>Parameter Sets</strong> <%= link_to "New", new_endpoint_parameter_set_path(endpoint) %>
            <% endpoint.parameter_sets.each do |pset| %>
            <li>
              <%= pset.name %>
              <%= link_to "Edit", parameter_set_path(pset) %>
              <%= link_to "Delete", parameter_set_path(pset), :method => :delete, :confirm => "Are you sure you want to delete the parameter set '#{pset.name}'?" %>
            </li>
            <% end %>
          </ul>
        <% end %>
      </ul>

    </div>
  <% end %>


</div>