<h1><%= @group.name %></h1>

<%= link_to "Edit", edit_group_path(@group) %>
<%= link_to "Delete", group_path(@group), :method => :delete, :confirm => "Are you sure?" %>

<h2>Endpoints</h2>

<%= link_to "Groups", groups_path %>
|
<%= link_to "New Endpoint", new_group_endpoint_path(@group) %>

<ul>
  <% @group.endpoints.each do |endpoint | %>
    <li><%= endpoint.name %> <%= link_to "Edit", edit_endpoint_path(endpoint) %> <%= link_to "Test", endpoint_path(endpoint) %></li>
  
    <% unless endpoint.parameter_sets.empty? %>
    <ul>
      <strong>Parameter Sets</strong>
      <% endpoint.parameter_sets.each do |pset| %>
      <li><%= link_to pset.name, parameter_set_path(pset) %></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</ul>