<div id="browser">
  <div id="notes">
    <strong>Notes</strong>
    <p>
      <strong>*</strong> denotes required fields
    </p>
  </div>
  
  <% @groups.each do |group| %>
  <strong><%= group.name %></strong>
  <ul>
    <% group.endpoints.each do |endpoint| %>
    <li><%= link_to endpoint.name, endpoint, :class => @endpoint == endpoint ? "current" : "" %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div id="explorer">
  <div style="float:right;">
    <%= link_to "Reset", request.env['PATH_INFO'] %>
  </div>
  <h1><%= @endpoint.name %></h1>

  <p><%= @endpoint.description %></p>
  
  <% unless @endpoint.notes.blank? %>
  <p>Notes: <%= @endpoint.notes %></p>
  <% end %>
  
  <strong id="parameter-set-http-method"><%= @endpoint.parameter_sets.first.http_method unless @endpoint.parameter_sets.empty? %></strong> <%= @endpoint.url %><br />
  <strong>Authentication:</strong>
  <%= select_tag 'auth_set_selector', options_from_collection_for_select(@authentications, 'id', 'name', @auth_default.id), {:include_blank => 'None'} %>
  
  <%= form_tag endpoints_explore_path, :method => :post, :id => "explore-form" do %>
    <%= hidden_field_tag 'authentication_id', @auth_default.id, :id => "authentication_id",  %>
    <div id="auth-set">
    <% if @auth_default && @auth_default.auth_method == Authentication::METHODS[:basic] %>
      <%= hidden_field_tag 'auth', 'basic' %>
      <%= hidden_field_tag 'username', @auth_default.username %>
      <%= hidden_field_tag 'password', @auth_default.password %>
    <% elsif @auth_default && @auth_default.auth_method == Authentication::METHODS[:oauth] %>
      <%= hidden_field_tag 'auth', 'oauth' %>
      <%= hidden_field_tag 'token', @auth_default.oauth_token %>
    <% end %>
    </div>
    
    <%= hidden_field_tag 'url', @endpoint.url %>
    
    <div id="global-parameters">      
      <% @global_params.each do |gp| %>
        <div>
          <%= hidden_field_tag 'param-keys[]', gp.name, :class => "form-alpha" %>
          <%= hidden_field_tag 'param-vals[]', gp.value, :class => "form-beta" %>
        </div>
      <% end %>
    </div>
    
    <% if @endpoint.parameter_sets.empty? %>
    <p>
      <strong><%= label_tag 'Parameter Set:' %></strong>
      <%= link_to "New", new_endpoint_parameter_set_path(@endpoint) %>
    </p>
    <% else %>
    <div id="parameter-set-selection">
      <p>
        <strong><%= label_tag 'Parameter Set:' %></strong>
        <%= select_tag 'parameter_set', options_from_collection_for_select(@endpoint.parameter_sets, 'id', 'name', 1) %>
      </p>
    </div>
    
    <div id="parameter-set">
      <%= render :partial => "parameter_set", :collection => [@endpoint.parameter_sets.first], :as => :ps %>
    </div>
    <% end %>
    
    <p><%= link_to "Response Explanation", nil, :id => "response-members-link" %></p>
    <div id="explorer-response-explanation" style="display: none;">
      <table border="1">
        <tr>
          <th>Name</th>
          <th>Example</th>
          <th>Description</th>
        </tr>
      <% unless @endpoint.parameter_sets.empty? %>
        <% @endpoint.parameter_sets.first.response_members.each do |rm| %>
          <tr>
            <td><%= rm.name %></td>
            <td><%= rm.example %></td>
            <td><%= rm.description %></td>
          </tr>
        <% end %>
      <% end %>
      </table>
    </div>
    
    <div id="explorer-submitter">
      <%= submit_tag "Submit", :name => nil, :id => "explore-submit-btn" %>
      <%= link_to "Clear", nil, :id => "clear-btn" %>
      <br />
      <div id="explorer-loading" style="visibility: hidden;"><%= image_tag 'loading.gif' %></div>
    </div>
  <% end %>
  
  <div id="auth-sets">
    <%= render :partial => "auth_set", :collection => @authentications, :as => :auth %>
  </div>  
  
  <div id="parameter-sets">
    <%= render :partial => "parameter_set", :collection => @endpoint.parameter_sets, :as => :ps %>
  </div>
  
  <div id="response-explanations">
    <%= render :partial => "response_explanation", :collection => @endpoint.parameter_sets, :as => :ps %>
  </div>
  
  <div id="parameter-temp">
    <div class="p-temp">
      <%= text_field_tag 'param-keys[]', "name", :class => "form-alpha" %>
      <%= text_field_tag 'param-vals[]', "value", :class => "form-beta" %>
      <%= link_to "Delete" %>
    </div>
  </div>
  
  <div id="header-temp">
    <div class="p-temp">
      <%= text_field_tag 'header-keys[]', "name", :class => "form-alpha" %>
      <%= text_field_tag 'header-vals[]', "value", :class => "form-beta" %>
      <%= link_to "Delete" %>
    </div>
  </div>
  
  <div id="explorer-error">
  </div>
  <div id="explorer-request">
  </div>
  <div id="explorer-response">
  </div>
</div>