<h1>Magellan - The API Explorer</h1>

<h3>STEP 1: Setup <%= link_to "Authentication", authentications_path %> methods.</h3>

<h3>STEP 2: Define any <%= link_to "Global Parameters", global_parameters_path %>.</h3>

<h3>STEP 3: Define endpoint <%= link_to "Groups", groups_path %>.</h3>

<h3>STEP 4: Define endpoints under previously created <%= link_to "Groups", groups_path %>.</h3>

<h3>STEP 5: Explore <%= link_to "Endpoints", endpoints_path %>!</h3>