<div class="page_container">
  
  <p>Magellan is a simple, standalone API explorer written in Rails 3.</p>

  <p>
    <h2>(1) Authentication</h2>
    To get things started, you need to setup the authentication schemes you plan
    on using to access the API. Only HTTP Basic is currently supported, with
    OAuth coming very soon. If you are unfamiliar with HTTP Basic, see
    <%= link_to "Basic access authentication", 'http://en.wikipedia.org/wiki/Basic_access_authentication' %>.
    You can add as many authentications as you wish, and set your default authentication
    scheme to use. In addition, you will be able to toggle between your difference
    authentications when exploring the API. You must define at least one authentication before
    continuing on.
  </p>

  <p><%= link_to "Authentication Setup", authentications_path %></p>
  
  <ul>
  <% @auths.each do |auth| %>
    <li>
      <%= auth.name %>
      <strong><%= "[DEFAULT]" if auth.auth_default? %></strong>
    </li>
  <% end %>
  </ul>

  <% unless @auths.empty? || @auth_default.nil? %>
  
    <p>
      <h2>(2) Global Parameters</h2>
      Once you have setup your authentications, you can proceed to setting
      up any global parameters that you plan on including with all API requests. An
      example of this is an API key provided by the service you are trying to access.
      Many services require you send your API key along with every request to track
      your usage and watch for abuse.
    </p>

    <p><%= link_to "Global Parameters Setup", global_parameters_path %></p>
  
    <ul>
    <% @global_params.each do |gp| %>
      <li>
        <%= gp.name%> = <%= gp.value %>
      </li>
    <% end %>
    </ul>
    
    <p>
      <h2>(3) Groups &amp; Endpoints</h2>
      After you have setup your authentications and defined any global parameters
      you would like to use, it is time to move onto creating groups to categorize
      your endpoints by. This is just an approach to organize endpoints in a
      reasonable fashion. If you don't really care to group your endpoints, just
      create a single top-level group and add your endpoints to it.
    </p>

    <p><%= link_to "Groups & Endpoints Setup", groups_path %></p>
  
    <ul>
    <% @groups.each do |group| %>
      <li>
        <%= group.name %>
        
        <ul>
          <% group.endpoints.each do |endpoint | %>
          <li><%= endpoint.name %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
    
    <% unless @groups.empty? and !@has_endpoints %>
    <p>
      <h2>(4) Explore!</h2>
      Once everything is setup, you can <%= link_to "explore", root_path %>
      those lovely API endpoints! You may have already seen this explorer interface
      while testing our your endpoints.
    </p>
    <% end %>
  
  <% end %>

</div>