<!DOCTYPE html>
<html>
<head>
  <title>Magellan - The API Explorer</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <% link_to root_path do %>
    <%= image_tag 'logo.png', :border => 0 %>
  <% end %>
  
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= yield %>

</body>
</html>
